<div>
    <h2 id="page-heading">
        <span jhiTranslate="waconApp.waterConsumptionDaily.home.title">Water Consumption Dailies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-water-consumption-daily" [routerLink]="['/water-consumption-daily/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="waconApp.waterConsumptionDaily.home.createLabel">
            Create a new Water Consumption Daily
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="waterConsumptionDailies?.length === 0">
        <span jhiTranslate="waconApp.waterConsumptionDaily.home.notFound">No waterConsumptionDailies found</span>
    </div>



</div>
