<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="waterConsumptionDaily">
            <h2><span jhiTranslate="waconApp.waterConsumptionDaily.detail.title">Water Consumption Daily</span> {{waterConsumptionDaily.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.toilet">Toilet</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.toilet}}</span>
                </dd>
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.shower">Shower</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.shower}}</span>
                </dd>
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.dishwater">Dishwater</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.dishwater}}</span>
                </dd>
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.washing">Washing</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.washing}}</span>
                </dd>
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.faucet">Faucet</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.faucet}}</span>
                </dd>
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.bath">Bath</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.bath}}</span>
                </dd>
                <dt><span jhiTranslate="waconApp.waterConsumptionDaily.houseTotal">House Total</span></dt>
                <dd>
                    <span>{{waterConsumptionDaily.houseTotal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/water-consumption-daily', waterConsumptionDaily.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
