<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-water-consumption-daily-heading" jhiTranslate="waconApp.waterConsumptionDaily.home.createOrEditLabel">Create or edit a Water Consumption Daily</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.toilet" for="field_toilet">Toilet</label>
                    <input type="number" class="form-control" name="toilet" id="field_toilet"
                           formControlName="toilet"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.shower" for="field_shower">Shower</label>
                    <input type="number" class="form-control" name="shower" id="field_shower"
                           formControlName="shower"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.dishwater" for="field_dishwater">Dishwater</label>
                    <input type="number" class="form-control" name="dishwater" id="field_dishwater"
                           formControlName="dishwater"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.washing" for="field_washing">Washing</label>
                    <input type="number" class="form-control" name="washing" id="field_washing"
                           formControlName="washing"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.faucet" for="field_faucet">Faucet</label>
                    <input type="number" class="form-control" name="faucet" id="field_faucet"
                           formControlName="faucet"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.bath" for="field_bath">Bath</label>
                    <input type="number" class="form-control" name="bath" id="field_bath"
                           formControlName="bath"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="waconApp.waterConsumptionDaily.houseTotal" for="field_houseTotal">House Total</label>
                    <input type="number" class="form-control" name="houseTotal" id="field_houseTotal"
                           formControlName="houseTotal"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
