<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">

        <iframe style="width:580px; height:400px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://emoncms.org/vis/realtime?feedid=397374&colour=edc240&embed=1&apikey=79780af2b39d67e29c7ae078501a07c2"></iframe>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>


            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <div class="col-md-8 content-section implementation">
            <p-chart type="bar" [data]="data"></p-chart>
        </div>
        <br/>
        <br/>

        <div class="col-md-8 content-section implementation">
            <p-chart type="pie" [data]="data"></p-chart>
        </div>
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-bar-vertical>

        <div class="col-md-8 content-section implementation">
            <p-growl [value]="msgs"></p-growl>
            <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
        </div>
    </div>

</div>
